body {
		  background-color: #A0A0A0;
}
p {
		  color: #202020;
		  font-size: 0.9em;
		  font-family: sans-serif;
		  text-align: justify;
		  margin-right: 2%;
		  margin-left: 2%;
		  margin-bottom: 2%;
		  margin-top: 2%;
}
li.sel {
		  color: #202020;
		  font-size: 0.9em;
		  font-family: sans-serif;
		  margin-left: 2%;
}
a {
		  color: #404040;
		  font-size: 0.9em;
		  font-family: sans-serif;
		  text-decoration: underline
}
a:hover {
		  color: #A0A0A0;
		  font-size: 0.9em;
		  font-family: sans-serif;
		  text-decoration: underline		  
}
a.bar {
		  color: #600000;
		  font-size: 0.9em;
		  font-family: sans-serif;
		  text-decoration: underline
}
a.bar:hover {
		  color: #C00000;
		  font-size: 0.9em;
		  font-family: sans-serif;
		  text-decoration: underline		  
}
h1{
		  color: #0A0A0A;
		  text-align: center;
		  text-decoration: none;
		  font-size: 1.5em;
		  font-family: sans-serif;
		  margin-top: 2%;
}
h3 {
		  color: #0A0A0A;
		  text-align: left;
		  text-decoration: underline;
		  font-size: 1.3em;
		  font-family: sans-serif;
		  margin-top: 3%;
		  margin-bottom: 3%;
		  margin-left: 2%;
}
div.main{
		  background-color: #F0F0F0;
		  color: #0A0A0A;
		  position: absolute;
		  top: 10%;
		  height: 70%;
		  left: 10%;
		  width: 80%;
		  border-style: dotted;
		  border-width: 1px;
}
div.bar{
		  position: absolute;
		  left: 10%;
		  width: 80%;
		  bottom: 5%;
}
input.but{
		  position: absolute;
		  left: 20%;
}
